*{
    margin:0;
    padding: 0;
   
   
}
header{
    background-image: url(https://learn.seytech.co/assets/projects/html-css/images/beach/beachshowcase.jpeg);
    display:flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-size:cover;
    flex-direction: column;
   
   
}
p{
    width: 50%;
    text-align: center;
  }
button{
    background-color: transparent;
    border: solid 1px brown;
    border-radius: 10px;
    color: brown;
    font-size: 20px;
    padding: 1 rem 2 rem;
    margin-top: 20px;
}

.container-1 p{
    width: 100%;
    background-color: bisque;
    color:magenta;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    padding: 10px 30px;
}
.container-2 p{
    width: 100%;
    background-color: rgb(90, 59, 173);
    color:rgb(0, 255, 76);
    margin: 0px;
    text-align: center;
    font-size: 20px;
    padding: 10px 30px;
}
footer{
    display: flex;
}
.odd{
    background-color: brown;
    padding: 1rem;
    text-align: center;
    color: white;
}

    